@charset "utf-8";
/* CSS Document */

body {
	background-color: #A9DDD9;
	padding: 0;
	margin: 0;
	width: 100%;
}

#body2
{
	background-color: #EEBA4C;
	padding-top: 20px;
	margin-top: -21px;
	width: 100%;
	height: 870px;
	margin-bottom: -45px;

}

#banner
{

	width: 100%;
	background-image: url('banner.jpg');
    background-repeat: repeat-x;
	height:450px;
	margin-top: 40px;
	margin-bottom: none;
}
#banner1
{

	width: 100%;
	background-image: url('banner1.png');
    background-repeat: repeat-x;
	height:450px;
	margin-top: 40px;
	margin-bottom: none;
}
#banner2
{

	width: 100%;
	background-image: url('banner2.png');
    background-repeat: repeat-x;
	height:450px;
	margin-bottom: none;
}

#menu {

	width: 100%;
	height: auto;
	position:fixed;
    top: 0;
    margin:auto;
	background-color: #EEBA4C;
	padding-bottom: 5px;
	z-index: 1000;
	
}

#navigacija
{

	font-size: 16px;
	text-align:right;
	font-family: "Impact", Charcoal, sans-serif;
	width: 1100px;
	height: auto;
	padding: 12px 0px;
	margin: -10px auto;
	border: none;
	
}

#menu li { 
	display: inline-block;
	padding-left: 15px; 
	padding-right: 15px;
    transition: background-color 0.51s ease-out, color 0.51s;
	padding: 10px;
	margin-bottom: -5px;
		-webkit-transition: background-color 0.51s ease-out,  color 0.51s, border-radius 0.51s;
    -moz-transition: background-color 0.51s ease-out,  color 0.51s, border-radius 0.51s;
    -o-transition: background-color 0.51s ease-out, color 0.51s, border-radius 0.51s;
    transition: background-color 0.51s ease-out, color 0.51s, border-radius 0.51s;
	

}



#menu li:hover
{
border-radius: 80%;
	background-color:#E3493B;
	color: #B3CEF5;
	
	-webkit-transition: background-color 0.51s ease-out,  color 0.51s, border-radius 0.51s;
    -moz-transition: background-color 0.51s ease-out,  color 0.51s, border-radius 0.51s;
    -o-transition: background-color 0.51s ease-out, color 0.51s, border-radius 0.51s;
    transition: background-color 0.51s ease-out, color 0.51s, border-radius 0.51s;
}

a {
	text-decoration: none; 
  	color: inherit;
  	margin: 0 auto;
  	width: 1100px;
  	height: auto;
	}


#krogci
{
	margin: 0px, auto;
	width: 1180px;
	height: 340px;
}

.element_vsebine
{

	display: inline-block;
	background: #23B5AF;
	border: 2px solid #B2B1B3;
	position: relative;
    border-radius: 50%;
    padding: 15px;
    width: 250px;
    height: 250px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    list-style-type: none;
    font-size: 14px;
	overflow: hidden;
    margin: 20px 45px 20px 45px;
    box-shadow: 2px 2px 5px #888888; 
    -webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;


}

.element_vsebine:hover
{
	background: #E3493B;
	height: 270px;
	width: 270px;
	-webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    
}

 .naslov
{
	font-size: 18px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}
.naslov hr
{
	width: 80%;
}
li
{
	padding: 5px;
	text-align: center;
}
hr
{
	width: 90%;
}



h1
{
	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding-left:60px;
	color: #3C4663;
	font-size: 22px;
	
}



footer{
	width: 100%;
	height: 100px;
    margin:auto;
	background-color:  #EEBA4C;
	padding: 10px;
	
}

section
{
	width: 1100px;
	margin-right: auto; margin-left: auto;
}


#primeri
{
	width: 1180px;
	height: auto;
	margin: none;
}

.slika
{
	display: inline-block;
	margin: 34px;
	position: relative;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888; 
    

}

.slika:hover
{
	 opacity: 0.7;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.51s ease-out;
    -moz-transition: opacity 0.51s ease-out;
    -o-transition: opacity 0.51s ease-out;
}

#more
{
	margin: 0px, auto, 20px, auto;
	width: 1180px;
	height: auto;
}

#besedilo
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding: 10px;
	background: #23B5AF;
	width: 800px;
	margin-left: 145px;
	margin-bottom: 45px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	-webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
}

#besedilo:hover
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #E3493B;
	width: 1100px;
	margin-left: -50px;
	margin-bottom: 20px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	padding: 60px;
    -webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
}

#about
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding: 10px;
	background: #6D748C;
	width: 800px;
	margin-left: 145px;
	margin-bottom: 20px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	-webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s, margin-bottom 0.51s, padding 0.51s, margin-left 0.51s;
}

#kontakt:hover
{
	background: #23B5AF;
	-webkit-transition: background-color 0.51s;
    -moz-transition: background-color 0.51s; 
    -o-transition: background-color 0.51s;
    transition: background-color 0.51s;
}

#kontakt
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding: 10px;
	width: 650px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #E3493B;
	margin-left: 50px;
	border-radius: 20%;
	transition: background-color 0.51s;
}

#konslika
{
	display: inline;
	margin-top: -260px;
	margin-bottom: 100px;
	margin-left: 780px
}

.block
{
	background-color: #3A3A3C;
	width: 200px;
	height: 200px;
	position: relative;
	margin: 5px;
	box-shadow: 5px 5px 5px  #3A3A3C;
	cursor:pointer;
}

.block:hover
{
	opacity: 0.8;
}
.block_click1
{
	background-color: #EEBA4C;
}
.block_click2
{
	background-color: #E3493B;
}
#igralno
{	
	width: 50%;
	margin: 100px auto;
}
#reset
{
	background-color: #EEBA4C;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 35px;
	text-decoration: none;
	cursor:pointer;

}

.reset_tekst
{
	width: auto;
    height: 100px;
    vertical-align:middle;
    text-align:center;
    color: #A9DDD9;
    font-family: "Impact", Charcoal, sans-serif;
     padding: 20px;
    margin: -30px;

}

#reset_tekst:hover
{
    color: #EEBA4C;

}
#reset:hover
{
	background-color: #23B5AF;
}

#rezultat
{
	background-color: #EEBA4C;
	width: 300px;
	height: 100px;
	font-size: 35px;
	text-decoration: none;
	cursor:pointer;
}

#rezultat:hover
{
	background-color: #23B5AF;
}

#gumbi li
{
	display: inline-block;
}

#gumbi
{
	position: relative;
	width: 600px;
	left: 1200px;
}

.zmaga_tekst
{
	width: auto;
    height: 100px;
    vertical-align:middle;
    text-align:center;
    color: #A9DDD9;
    font-family: "Impact", Charcoal, sans-serif;
    padding: 20px;
    margin: -30px;
}

#zmaga_tekst:hover
{
    color: #EEBA4C;

}


.konc
{
	width: 1100px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Impact", Charcoal, sans-serif;
}