@charset "utf-8";
/* CSS Document */

body {
	background-color: #E8E6E8;
}
#banner
{
	margin-left: -11px;
	width: 100%;
}


#menu {

    font-size: 16px;
	width: 1100px;
    height: 50px;
    text-align:center;
    background-color: #E8E6E8;  
	margin-top: -10px;
	margin-right: -10px;
	font-family: "Impact", Charcoal, sans-serif;
	float: right;
}

#menu li { 
display: inline; 
padding: 0 25px; 
padding-top: 15px;
padding-bottom: 20px;
color: #60818F;
margin:none;
-webkit-transition: background-color 0.51s ease-out,  color 0.51s;
    -moz-transition: background-color 0.51s ease-out,  color 0.51s;
    -o-transition: background-color 0.51s ease-out, color 0.51s;
    transition: background-color 0.51s ease-out, color 0.51s;

}

#menu ul {
    height: auto;
    padding: 12px 0px;
    margin: 0px;
}




#menu li:hover
{
	background-color:#3A3247;
	color: #B3CEF5;
	-webkit-transition: background-color 0.51s ease-out,  color 0.51s;
    -moz-transition: background-color 0.51s ease-out,  color 0.51s;
    -o-transition: background-color 0.51s ease-out, color 0.51s;
    transition: background-color 0.51s ease-out, color 0.51s;
}

a {
	text-decoration: none; 
  	color: inherit;
	}
	
#element_vsebine
{

	display: inline-block;
	background: #4E90ED;
	border: 2px solid #B2B1B3;
    border-radius: 50%;
    padding: 10px;
    width: 250px;
    height: 250px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    list-style-type: none;
    font-size: 14px;
    margin: 45px;
    -webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;


}

#element_vsebine:hover
{
	background-color: #3A3247;
	-webkit-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -moz-transition: background-color 0.51s ease-out,  width 0.51s, height 0.51s;
    -o-transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    transition: background-color 0.51s ease-out, width 0.51s, height 0.51s;
    height: 270px;
    color: #B3CEF5;
}

 #naslov
{
	font-size: 18px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}
#naslov hr
{
	width: 80%;
}
li
{
	padding: 5px;
	text-align: center;
}
hr
{
	width: 90%;
}



h1{
	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding-left:45px;
	
}

footer{
	width: 100%;
	background-color: #3A3247;
	height: auto;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	border-top: 2px, solid, black;
	box-shadow: 0px 0px 5px #333, inset 0px 0px 2px #333;
	margin-bottom: -10px;
	
}

section
{
	width: 1100px;
	margin-right: auto; margin-left: auto;
}