#canvas{
    border: 1px solid blue;
    color: blue;
    background-color: #96a0d3;
    
}

image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}